.header {
    width: 100%;
    height: max-content;
    background-color: #fff159;
    padding: 6px 0 0 0;
}

.main {
    margin-bottom: 100px;
}

.footer {
    width: 100%;
    background-color: #fff;
}
